
td{
    vertical-align: middle;
    text-align: center;

    .action{
        margin-left: 27%;
    }
    
}

th{
    vertical-align: middle;
    text-align: center; 
}

Col{
    margin: 0;
    padding: 0;
}

.overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 58%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    z-index: 9999;
}

.close-modal {
    position: absolute;
    top: -4px;
    right: 1px;
    padding: 5px 7px;
    font-size: 29px;
    color: black;
    text-decoration: none;
    &:hover{
        color: red;
    }

}

.active-modal{
    overflow-y: hidden;
}

.add-img{

    input[type=file]{
        display: none;
    }

    #the-one{
        color: #DD866E;
        position: sticky;
        background-color: #e6a29199;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 7px;
        height: 40px;
        margin-top: 8px;
        &:hover{
            color: white;
            background-color: #DD866E;
            cursor: pointer;
        }
    }

}

.ajouter{
    color: #DD866E;
    background-color: #e6a29199;
    border: hidden !important;

    &:hover{
        color: white;
        background-color: #DD866E;
        cursor: pointer;
    }
}
