*{
    margin: 0;
    padding: 0;
}

.nav{
    overflow: hidden;
    background-color: #dbd4d2;
    color: #DD866E;
}

.titles{
    text-align: center;
    color: #DD866E;
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: 8%;
}

.description{
    width: 85%;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 8px 9px 6px 1px rgba(128, 128, 128, 0.555);
}

.card{
    box-shadow: 6px 6px 6px 1px rgba(128, 128, 128, 0.555);
}
